<%- include('partials/header') %>

<div class="jumbotron text-center">
   <div class="container">
       <i class="fas fa-key fa"></i>
       <h1 class="display-3">You have discovered my secrets</h1>
       <p class="secret-text">This page is authenticated</p>
       <hr>
       <a class="btn btn-light btn-lg" href="/register" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Submit a Secret</a>
   </div>
  </div>

  <%- include('partials/footer') %>